.contact-box {
  margin: 10rem auto;
  padding-top: 3rem;
  padding-bottom: 7rem;
  width: 80rem;
  background: #000;
}
.contact-box .contact-container-border-line {
  background-color: #fff;
  width: 7%;
  margin: auto;
  height: 0.288rem;
  margin-top: 20px;
}

.contact-container .primary-header {
  color: #e294c5;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-top: 4.6rem;
}

.contact-container .primary-location {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 2.8rem;
}
.contact-container .primary-info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
}
.contact-container .primary-thank-you-note {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 3rem;
}
a.primary-direction-route {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #e294c5 !important;
  margin-left: 27rem !important;
  text-transform: uppercase;
  text-align: center;
}
a.primary-direction-route:hover {
  color: #fff !important;
}

.contact-container .secondary-header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-top: 4.6rem;
  color: #f8e7f2;
}

.contact-info {
  margin-top: 2.8rem;
  top: 31rem;
  width: 50rem;
  height: 4rem;
  font-size: 1.7rem;
  color: #000;
  margin-left: 6.3rem;
  font-family: "Roboto", sans-serif;
}
.contact-row {
  width: 80%;
  margin-left: 8rem;
  align-content: center;
}

.btn {
  background-color: #e294c5 !important;
  border: 1px solid #e294c5 !important;
  border-radius: 1rem;
}

.btn:hover {
  background: #f8e7f2;
  border: 1px solid #f8e7f2;
}
