.contact-container .primary-header {
  color: #e294c5;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-top: 4.6rem;
  @media (max-width: 575.98px) {
    font-size: 3.52rem;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 3.52rem;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 3.52rem;
  }
  @media (max-width: 1024px) {
    font-size: 3.52rem;
  }
}

.contact-box {
  position: absolute;
  width: 80rem;
  height: 65rem;
  left: 60rem;
  align-content: center;
  top: 160rem;
  background: #000;
  @media (max-width: 1024px) {
    width: 70rem;
    left: 14.7rem;
  }
}

.contact-box .contact-container-border-line {
  background-color: #fff;
  position: absolute;
  top: 1rem;
  left: 37.096rem;
  width: 4.72rem;
  height: 0.288rem;

  @media (max-width: 575.98px) {
    left: 46rem;
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    left: 49rem;
  }
  @media (max-width: 1024px) {
    left: 33rem;
  }
}

.contact-container .primary-location {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 2.8rem;
}
.contact-container .primary-info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
}
.contact-container .primary-thank-you-note {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 6.5rem;
}
a.primary-direction-route {
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #e294c5 !important;
  margin-left: 31rem !important;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    margin-left: 27rem !important;
  }
}
a.primary-direction-route:hover {
  color: #fff !important;
}

.contact-container .secondary-header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-top: 4.6rem;
  color: #f8e7f2;
}

.contact-container .input-message {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 25.97rem;
  height: 16.5rem;
  left: 40rem;
  top: 31rem;
  @media (max-width: 1024px) {
    left: 34rem;
    top: 30rem;
  }
}
.contact-container .input-info {
  margin-top: 3rem;
  top: 31.57rem;
  margin-left: 14.87rem;
  width: 20rem;
  height: 3.5rem;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  @media (max-width: 1024px) {
    margin-left: 10.87rem;
  }
}

.contact-container .contact-submit {
  position: absolute;
  width: 50.72rem;
  height: 3.5rem;
  left: 15rem;
  top: 49.69rem;
  border-radius: 1rem;
  background: #e294c5;
  border: 1px solid #e294c5;
  box-sizing: border-box;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  @media (max-width: 1024px) {
    left: 11.2rem;
    width: 48.5rem;
  }
}
.contact-container .contact-submit:hover {
  background: #f8e7f2;
  border: 1px solid #f8e7f2;
}
