.services-container-border-line {
  background-color: #000;
  position: absolute;
  top: 68.8rem;
  left: 15.096rem;
  width: 4.72rem;
  height: 0.288rem;

  @media (min-width: 320px) and (max-width: 667px) {
    left: 47rem;
    top: 44rem;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    left: 64rem;
    top: 56rem;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    left: 64rem;
    top: 59rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    left: 64rem;
    top: 55rem;
  }
  @media (min-width: 1366px) and (max-width: 1520px) {
    left: 79rem;
    top: 65rem;
  }
  @media (min-width: 1520px) and (max-width: 1920px) {
    left: 90rem;
    top: 65rem;
  }
}

.services-container {
  position: absolute;
  top: 72rem;
  left: 39rem;
  height: 66.571rem;
  width: 120rem;

  @media (min-width: 320px) and (max-width: 667px) {
    left: 20rem;
    top: 47.2rem;
    width: 60rem;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    left: 20rem;
    top: 59.2rem;
    width: 60rem;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    left: 16rem;
    top: 62.2rem;
    width: 120rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    left: 7.4rem;
    top: 58.2rem;
    width: 120rem;
  }
  @media (min-width: 1366px) and (max-width: 1520px) {
    margin-left: 57rem;
    width: 120rem;
  }
  @media (min-width: 1520px) and (max-width: 1920px) {
    margin-left: 64rem;
    width: 120rem;
  }
}

.services-container .primary-header {
  margin-left: 40rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-bottom: 4.6rem;

  @media (min-width: 320px) and (max-width: 667px) {
    margin-left: 19rem;
    font-size: 3rem;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    margin-left: 20rem;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    margin-left: 32rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    margin-left: 40rem;
  }
  @media (min-width: 1366px) and (max-width: 1520px) {
    margin-left: -30rem;
  }
  @media (min-width: 1520px) and (max-width: 1920px) {
    margin-left: -30rem;
  }
}

.services-container .container-fluid {
  margin-left: -60rem;
  width: 120rem;
  @media (min-width: 320px) and (max-width: 667px) {
    margin-left: 0rem;
    width: 60rem;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    margin-left: 0rem;
    width: 60rem;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    margin-left: 0rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    margin-left: 0rem;
  }
  @media (min-width: 1366px) and (max-width: 1920px) {
    margin-left: -70rem;
  }
}
