.services-container-border-line {
  background-color: #000;
  position: absolute;
  top: 68.8rem;
  left: 92.096rem;
  width: 4.72rem;
  height: .288rem;

  @media (max-width: 26.75em) { 
    left: 29rem;
  }
}

.services-container {
  position: absolute;
  top: 73.6rem;
  left: 22.4rem;
  // height: 49.571rem;
  width: 141.6rem;

  @media (max-width: 26.75em) { 
    left: 0rem;
    width: 100%;
  }
}

.services-container .primary-header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: .04em;
  margin-bottom: 4.6rem;
}

.services-container .row {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.services-container .col-1-of-2 {
  width: calc((100% / 2));
}

