.contact-information .primary-header {
  color: #e294c5;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-top: 4.6rem;
}

.contact-information .primary-location {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 2.8rem;
}
.contact-information .primary-info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #fff;
}

.contact-information .secondary-header {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-top: 4.6rem;
  color: #f8e7f2;
}
