.scroll-indicator {
  position: fixed;
  top: 43.9rem;
  right: 15.9rem;
  width: 10.7rem;
  height: 8.3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  vertical-align: top;

  @media (max-width: 26.75em) {
    display: none;
  }
}

.indicator-item {
  margin-bottom: .8rem;
}

.dot {
  position: fixed;
  right: 15.9rem;
  height: 1.06rem;
  width: 1.06rem;
  background-color: #f0a07f;
  border-radius: 50%;
  display: inline-block;
}