.Welcome {
  position: absolute;
  width: 100%;
  height: 50.625rem;
  top: 5.8125rem;
  background: url(welcome.jpg);
  background-size: cover;
}
.welcome-tag {
  position: relative;
  width: 25.75rem;
  height: 6.25rem;
  left: 3.75rem;
  top: 20.5625rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13.25rem;
  line-height: 6.25rem;
  letter-spacing: 0.01em;
  color: #000000;
}
.sub-tag {
  position: relative;
  width: 28.0625rem;
  height: 1.25rem;
  left: 4.375rem;
  top: 22.925rem;

  font-family: 'Libre Baskerville', Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 1.25rem;
  letter-spacing: 0.01em;

  color: #000000;
}
