.Welcome {
  position: absolute;
  width: 100%;
  height: 100rem;
  background: url(welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 320px) and (max-width: 667px) {
    background: url(welcome500.jpg);
    background-size: cover;
    height: 65rem;
    background-repeat: no-repeat;
    width: 100%;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    background: url(welcome500.jpg);
    background-size: cover;
    height: 70rem;
    background-repeat: no-repeat;
    width: 100%;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    height: 110rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    height: 80rem;
  }
}
.welcome-tag {
  position: relative;
  width: 41.2rem;
  height: 10rem;
  left: 30rem;
  top: 42.9rem;
  font-style: normal;
  font-weight: 600;
  font-size: 21.2rem;
  line-height: 10rem;
  letter-spacing: 0.01em;
  color: #000000;
  @media (min-width: 320px) and (max-width: 667px) {
    top: 25rem;
    left: 12rem;
    font-size: 11rem;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    top: 32rem;
    left: 16rem;
    font-size: 16rem;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    top: 32rem;
    left: 16rem;
    font-size: 16rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    top: 32rem;
    left: 16rem;
    font-size: 16rem;
  }
  @media (min-width: 1366px) and (max-width: 1920px) {
    top: 42rem;
    left: 16rem;
    font-size: 18rem;
  }
}
.sub-tag {
  position: relative;
  width: 44.9rem;
  height: 2rem;
  left: 30rem;
  top: 46.68rem;

  font-family: "Libre Baskerville", Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.52rem;
  line-height: 2rem;
  letter-spacing: 0.01em;

  color: #000000;
  @media (min-width: 320px) and (max-width: 667px) {
    top: 27rem;
    left: 14rem;
    font-size: 2rem;
  }
  @media (min-width: 667px) and (max-width: 812px) {
    top: 35rem;
    left: 18rem;
    font-size: 2.8rem;
  }
  @media (min-width: 812px) and (max-width: 1024px) {
    top: 34rem;
    left: 18rem;
    font-size: 2.8rem;
  }
  @media (min-width: 1024px) and (max-width: 1366px) {
    top: 34rem;
    left: 18rem;
    font-size: 2.8rem;
  }
  @media (min-width: 1366px) and (max-width: 1920px) {
    top: 44rem;
    left: 18rem;
    font-size: 3rem;
  }
}
