.Welcome {
  position: absolute;
  width: 100%;
  height: 81rem;
  top: 9.3rem;
  background: url(welcome.jpg);
  background-size: cover;

  @media (max-width: 26.75em) { 
    background-image: url(welcome500.jpg);
    background-position: 64% 6%;
  }
}
.welcome-tag {
  position: relative;
  width: 41.2rem;
  height: 10rem;
  left: 6rem;
  top: 32.9rem;
  font-style: normal;
  font-weight: 600;
  font-size: 21.2rem;
  line-height: 10rem;
  letter-spacing: 0.01em;
  color: #000000;
}
.sub-tag {
  position: relative;
  width: 44.9rem;
  height: 2rem;
  left: 7rem;
  top: 36.68rem;

  font-family: 'Libre Baskerville', Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.52rem;
  line-height: 2rem;
  letter-spacing: 0.01em;

  color: #000000;
}
