.services-detail-container {
  width: 60rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;

  @media (min-width: 320px) and (max-width: 667px) {
    margin-bottom: 5px;
  }
}
.services-name {
  font-size: 2.8rem;
}

.services-name-border-top {
  width: 4.72rem;
  height: 0.288rem;
  margin: 0 auto 3rem;

  &--manicure,
  &--add-ons {
    background-color: #000;
  }

  &--pedicure,
  &--nail-extensions {
    background-color: #fff;
  }
}

.services-description {
  font-family: "Libre Baskerville";
  text-align: center;
  padding-top: 6rem;
  width: 30rem;

  &--manicure,
  &--add-ons {
    background-color: #f8e7f2;
    color: #000;
  }

  &--pedicure,
  &--nail-extensions {
    background-color: #000;
    color: #fff;
  }

  &--nail-extensions {
    order: 1;
  }
}

.ticketImage {
  width: 30rem;
  height: 100%;
  object-fit: cover;
}

.btn-book-now {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 6rem;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  text-transform: uppercase;

  &--manicure,
  &--add-ons {
    background-color: #e294c5;
    color: #fff;
  }

  &--manicure:hover,
  &--add-ons:hover {
    background-color: #000;
    color: #e294c5;
  }

  &--pedicure,
  &--nail-extensions {
    background-color: #000;
    color: #e294c5;
  }

  &--pedicure:hover,
  &--nail-extensions:hover {
    background-color: #e294c5;
    color: #fff;
  }
}
.button-text {
  font-size: 1.8rem !important;
}
