.services-detail-container {
  width: 70rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;

  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 5px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    margin-top: 3px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    margin-top: 1px;
  }
}
.services-name {
  font-size: 2.8rem;
}
.services-name-border-top {
  width: 4.72rem;
  height: 0.288rem;
  margin: 0 auto 3rem;

  &--manicure,
  &--add-ons,
  &--مانكيور,
  &--إضافات {
    background-color: #000;
  }

  &--pedicure,
  &--nail-extensions,
  &--باديكيور,
  &--اكتنشن {
    background-color: #fff;
  }
}
.services-description {
  font-family: "Libre Baskerville";
  text-align: center;
  padding-top: 6rem;
  width: 35rem;

  &--manicure,
  &--add-ons, 
  &--مانكيور,
  &--إضافات {
    background-color: #f8e7f2;
    color: #000;
  }

  &--pedicure,
  &--nail-extensions,
  &--باديكيور,
  &--اكتنشن {
    background-color: #000;
    color: #fff;
  }

  &--nail-extensions, &--اكتنشن {
    order: 1;
  }
}
.ticketImage {
  width: 35rem;
  height: 100%;
  object-fit: cover;
}
.btn-book-now {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 6rem;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  text-transform: uppercase;

  &--manicure,
  &--add-ons,
  &--مانكيور,
  &--إضافات {
    background-color: #e294c5;
    color: #fff;
  }

  &--pedicure,
  &--nail-extensions,
  &--باديكيور,
  &--اكتنشن {
    background-color: #000;
    color: #fff;
  }
}
.button-text {
  font-size: 1.8rem !important;
}
