.Footer {
  position: absolute;
  width: 100%;
  padding: 3rem;
  background: black;

  @media (min-width: 320px) and (max-width: 667px) {
    height: 22rem;
  }
}
.foot-logo {
  @media (max-width: 575.98px) {
    width: 50px;
  }
}

.foot {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  color: #e294c5;
}

.Footer .row {
  width: 100%;
}

i {
  font-size: 3.5rem;
  margin-top: 4rem;
  color: white;
}
.foot-copyright {
  font-size: 2.5rem;
}

a.social {
  color: black;
}
