.Header {
  position: absolute;
  width: 100%;
  height: 5.8125rem;
}
.head {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8125rem;
  line-height: 1.8125rem;
  color: #000000;
  position: absolute;
  height: 1.8125rem;
  left: 3rem;
  top: 1.75rem;
}
.menu {
  position: absolute;
  height: 0.875rem;
  left: 41.25rem;
  top: 2.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.875rem;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

a {
  color: black !important;
}
a:hover {
  color: #f0a07f !important;
}
a.nav-link.active {
  color: #f0a07f !important;
}

.u-margin-right {
  margin-right: -12rem;
}
