.Header {
  position: absolute;
  width: 100%;
  height: 9.3rem;
}

.head {
  font-style: normal;
  font-weight: 600;
  font-size: 2.9rem;
  line-height: 2.9rem;
  color: #000000;
  position: absolute;
  height: 2.9rem;
  left: 4.8rem;
  top: 2.8rem;
}

.menu {
  position: absolute;
  height: 1.4rem;
  left: 66rem;
  top: 3.6rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.4rem;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

a {
  color: black !important;
}
a:hover {
  color: #f0a07f !important;
}
a.nav-link.active {
  color: #f0a07f !important;
}

.u-margin-right {
  margin-right: -19.2rem;
}

.u-margin-left {
  margin-left: 2rem;
}

// .Header .row {
//   @media (max-width: 26.75em) {
//     display: none;
//   }
// }
